.h_row
	{
		height:851px;
		background-image:url("../images/1.jpg");
		background-repeat: no-repeat;
		background-size:100%;
	}

.h_nav-bar1
	{
		height:100px;
		border-bottom: 2px solid grey;
	}

.h_logo
	{
		margin-top:40px; 
		margin-left: 100px;
		font-size: 30px;
		font-style: bold;
	}

.net
	{
		color: white;
	}

.banking
	{
		color: orange;
	}

a:focus
	{ 
		color:orange;
	}

.b_row1
	{ 
		width:1595px;
		height: 631px;
	}

.col-b_row1
	{ 
		height: 450px;
	}

.slide-b_row1
	{ 
		border:1px solid red;
		height: 450px;
	}

.slide1-b_row1
	{ 
		height:300px;
		width:100%px;
		border:1px solid yellow;
		margin: 100px;
		margin-top: 170px;
		color:white;
		font-style:bold;
		text-align:justify;
	}

.title-slide-b_row1
	{ 
		color:white;
		font-size:45px;
		font-style:bold;
		text-align: center;
	}

.p-slide-b_row1
	{ 
		color:white;
		text-align: center;
	}



