.h_row
	{
		height:831px;
		background-image:url("../images/1.jpg");
		/*background-repeat: no-repeat;*/
		background-size:cover;
	}

.entete
	{ 
		font-style: bold;
		height: 100px;
		border-bottom: 1px solid white;
	}

.onglet:hover
	{ 
		color:orange !important;
		border-bottom: 3px solid orange !important;
		height: 53px;
	}

a:hover{
	background-color: inherit !important;
}

.h_logo
	{
		margin-top: 35px;
		margin-left: 100px;
	}

.net
	{
		font-size: 30px;
		color: white;
	}

.banking
	{
		font-size: 30px;
		color: orange;
	}

.menu
	{
		margin-right: 100px;
		font-size: 15px;
		color:white;
		margin-top:-45px;
	}

.onglet
	{
		font-size: 15px;
		color:white;
	}

/*a: hover
	{
		color:orange;
	}*/

/*FIN DU HEADER*/

.slide-b_row1
	{
		height: 450px;
	}

.slide1-b_row1
	{ 
		height:250px;
		margin: 100px;
		margin-top: 170px;
		color:white;
		font-style:bold;
		text-align:justify;
	}

.title-slide-b_row1
	{ 
		color:white;
		font-size:45px;
		font-style:bold;
		text-align: center;
	}

.p-slide-b_row1
	{ 
		color:white;
		text-align: center;
	}
/*FIN DE LA PARTIE SLIDE*/

/*DEBUT DE LA PARTIE WELCOME*/


.col_welcome
	{ 
		height:80px;
		margin: 15px;
		color:orange;
		font-style:bold;
		text-align:center;
	}
.img1_welcome
	{ 
		border: 6px solid grey;
		margin-top: 40px;
		width: 100%;
	}

.col_p-welcome
	{
		text-align: center;
		margin-top: 30px;
		color:grey;	
	}
/*FIN DE LA PARTIE WELCOME*/

/*DEBUT DE LA PARTIE ABOUT*/
.row_about
	{ 
		background-color: #eeeeee;
	}

.col_about
	{ 
		height: 80px;
		text-align: center;
		color:orange;
	}

.col_p-about
	{ 
		height: 500px;
		width: 800px;
	}

.col_p-about1
	{ 
		margin-top: 30px;
		font-style: bold;
	}

.title_text-about
	{ 
		font-style: bold;
		color:black;
	}

.col_p-about2
	{ 
		margin-top: 30px;
	}

.col_p-about3
	{ 
		margin-top: 30px;
	}

.col_p-about4
	{ 
		margin-top: 30px;
		list-style:none;
		text-align: justify;
		margin:left
		color: grey;
	}

.color_p-about4
	{ 
		
		color: grey;
	}

.img_about
	{ 
		border: 6px solid white;
		margin-top: 30px;
		width:100%;
		height: 400px;
	}

/*FIN DU ABOUT DANS LE BODY*/

/*DEBUT DE SERVICES DANS LE BODY*/



.col_services
	{ 
		height: 80px;
		text-align: center;
		color:orange;
	}

.T
	{ 
		margin-top: 50px;
		margin-bottom:50px;
	}

.col_services-overview
	{ 
		color:black;
		font-style: bold;
		margin-top: 20px;
	}

.col_services-overview1
	{ 
		color:grey;
		margin-top: 20px;
	}

.col_services-overview2
	{ 
		color:black;
		font-style: bold;
	}

.col_services-overview-img
	{ 
		margin-top:20px;
	}

.img_card
	{ 
		width:100%;
		border:1px  solid grey;
		height:150px;
	}

.color_card
	{ 
		color:orange;
		font-style: bold;
	}

.color_p-card
	{ 
		color:grey;
		font-style: bold;
	}

.col_services-overview3
	{ 
		color:black;
		font-style: bold;
		margin-top: 20px;
	}

.col_services-overview4
	{ 
		color:grey;
		font-style: bold;
		margin-top: 20px;
	}

.icon_service-overview
	{ 
		border-radius:50%;
		font-size: 60px;
		text-align: center;
		width:90px;
		height:90px;
		background-color: grey;
	}

.icon1_service-overview
	{ 
		border-radius:50%;
		font-size: 45px;
		text-align: center;
		width:70px;
		height:70px;
		background-color: grey;
		margin-left: 100px;
	}

.p_icon-service-overview
	{ 
		color:grey;
		font-size: 20px;
		text-align: center;
		margin-left: 50px;
	}

.icon
	{ 
		color:white;
	}

.second_col-services
	{ 
		margin-top: 50px;
		margin-bottom: 50px;	 
	}

.col2_services-overview
	{ 
		color:black;
		font-style: bold;
		margin-top: 20px;
	}

.col2_services-overview0
	{ 
		border: 4px solid grey;
	}

.img_col2-services
	{ 
		width:100%;
	}

.col2_services-overview1
	{ 
		color:black;
		margin-top: 20px;
	}

.col2_services-overview2
	{ 
		margin-top: 20px;
	}

.col2_services-overview3
	{ 
		color:grey;
		margin-top: 20px;
	}

.qs
	{ 
		margin-top: 70px;
	}

.col_blog
	{ 
		background-image: url('../images/bn.jpg');
		background-size:cover;
	}

.col_blog1
	{ 
		height: 80px;
		text-align: center;
		color:orange;
		margin-top:40px;
	}

.col_blog2
	{ 
		color:white;
		text-align:center;
		margin-top:60px;
		font-size: 35px;
		font-style:bold;
	}

.col_blog3
	{ 
		color:white;
		margin-top:60px;
	}

.col_blog4
	{ 
		color:grey;
	}

.col_blogp
	{ 
		color:grey;
		text-align:center;
	}

.col_news
	{ 
		height: 80px;
		text-align: center;
		color:orange;
		margin-top:100px;
	}

.col-news
	{ 
		border: 2px solid grey;
		padding-bottom:25px;
		padding-top:25px;
		margin-top:10px;
		margin-bottom:10px;
		line-height: 30px;
	}

.img_news
	{ 
		width:100%;
		margin-top:0px;
	}

.col1_news
	{ 
		background-color: white;
		width: 75px;
		border: 3px solid black;
	}



.row-client
	{ 
		background-image:url("../images/7.jpg");
		/*background-repeat: no-repeat;*/
		background-size:100%;
	}

.col_client
	{ 
		text-align: center;
		color:orange;
		margin-top:100px;
	}

.col-client
	{ 
		border: 2px solid grey;
		padding-bottom:25px;
		padding-top:25px;
		margin-top:10px;
		margin-bottom:10px;
	}

.sp
	{ 
		color: orange;
	}

.p_client
	{ 
		color: white;
	}

.clip-path
	{ 
		clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 45% 75%, 36% 96%, 25% 75%, 0% 75%);		
		background-color: rgba(88, 90, 89, 0.425); 
	}

.row_letter
	{ 
		margin-right:10px;
	}

.col_letter
	{ 
		height: 80px;
		text-align: center;
		color:orange;
		margin-top:100px;
	}

.col_letter1
	{ 
		text-align: center;
	}

.map
	{ 
		width:100%; 
		height:400px; 
		margin-top:70px;
	}

.col_contacts
	{ 
		height: 80px;
		text-align: center;
		color:orange;
		margin-top:50px;
	}

.formulaire
	{ 
		margin-top: 25px;
	}

.form_formulaire
	{ 
		width:85%;
	}

.col1-contacts
	{ 
		margin-top:50px;
	}

.col2-contacts
	{ 
		margin-top:20px;
	}

.t_col2
	{
		color: black;
		font-style:bold;
		font-size: 20px;
	}

.row_footer
	{
		margin-top: 100px;
		background-image:url("../images/7.jpg");
		/*background-repeat: no-repeat;*/
		background-size:100%;
	}

.row2_footer
	{
		height:50px;
	}

.row3_footer
	{
		text-align: center;
	}

.row4_footer
	{
	margin-top: 50px;	
	}

.p_color-footer
	{
		color:white;
		font-size: 15px
		font-style:bold;
		text-align:center;
	}

.ligne
	{
		text-align: center;
		width: 5%;	
	}

.row5_footer
	{
		color:white;
		text-align: center;
	}

.row6_footer
	{
		color:white;
		text-align: center;
		margin-top:30px;
	}

/*.col_blog5
	{ 
		border: 1px solid black;
		color:white;
		margin-top:60px;
	}*/

@media only screen and (max-width: 768px){ 
			/*************** Entete **********/
			/********************************/
.nav-responsive
	{
		margin-bottom: 10px;
		border-bottom: inherit;
	}

.menu li a
	{
		font-size: 15px;
		padding-top: 10px;
		margin-top: 2px;
	}

.menu 
	{
		background-color: black;
		opacity: 0.8;
		/*position: relative;*/
		bottom: 10px;
		margin-left: 1px;
		margin-right: 1px;
	}

.MenuReduit
	{
		background-color: inherit;
	}

.MenuReduit span
	{
		color: white !important;
	}

.Net
	{
		margin-bottom: 10px;
		font-size: 35px;
	}

.Banking
	{
		margin-bottom: 10px;
		margin-left: 10px;
		font-size: 35px;
	}

.Entete
	{
		margin-top: 40px;
		position: relative;
		bottom: 50px;
	}

.title-slide-b_row1
	{
		font-size: 35px;
	}

.p-slide-b_row1
	{
		font-size: 10px;
	}

