.h_row
	{
		height:831px;
		background-image:url("../images/1.jpg");
		/*background-repeat: no-repeat;*/
		background-size:cover;
	}

header
	{
		border-bottom: solid 1px white;
		height: 100px;
	}

.h_logo
	{
		margin-top:35px; 
		margin-left: 100px;
		font-size: 30px;
		font-style: bold;
	}

.net
	{
		color: white;
	}

.banking
	{
		color: orange;
	}

/*.menu_header
	{
		margin-top:-45px;
		margin-right: 100px;
		font-size: 15px;
		color:white;
	}*/

.slide-b_row1
	{ 
		border:1px solid red;
		height: 450px;
	}

.slide1-b_row1
	{ 
		height:250px;
		border:1px solid yellow;
		margin: 100px;
		margin-top: 170px;
		color:white;
		font-style:bold;
		text-align:justify;
	}

.title-slide-b_row1
	{ 
		color:white;
		font-size:45px;
		font-style:bold;
		text-align: center;
	}

.p-slide-b_row1
	{ 
		color:white;
		text-align: center;
	}
/*FIN DE LA PARTIE SLIDE*/

/*DEBUT DE LA PARTIE WELCOME*/
.row_welcome
	{ 
		border: 1px solid maroon;
	}

.col_welcome
	{ 
		height:80px;
		border:1px solid yellow;
		margin: 15px;
		color:orange;
		border: 1px solid black;
		font-style:bold;
		text-align:center;
	}
.img1_welcome
	{ 
		width:500px;
		border: 6px solid grey;
		margin-top: 40px;
	}

.img2_welcome
	{ 
		width:500px;
		border: 6px solid grey;
		margin-top: 40px;
	}

.col_p-welcome
	{
		border: 1px solid black;
		text-align: center;
		margin-top: 30px;
		color:grey;	
	}
/*FIN DE LA PARTIE WELCOME*/

/*DEBUT DE LA PARTIE ABOUT*/
.row_about
	{ 
		border: 1px solid maroon;
		background-color: #eeeeee;
	}

.col_about
	{ 
		border: 1px solid black;
		height: 80px;
		text-align: center;
		color:orange;
	}

.col_p-about
	{ 
		border: 1px solid black;
		height: 500px;
		width: 800px;
	}

.col_p-about1
	{ 
		border: 1px solid black;
		margin-top: 30px;
		font-style: bold;
	}

.title_text-about
	{ 
		font-style: bold;
		color:black;
	}

.col_p-about2
	{ 
		border: 1px solid black;
		margin-top: 30px;
	}

.col_p-about3
	{ 
		border: 1px solid black;
		margin-top: 30px;
	}

.col_p-about4
	{ 
		border: 1px solid black;
		margin-top: 30px;
		list-style:none;
		text-align: justify;
		margin:left
		color: grey;
	}

.color_p-about4
	{ 
		
		color: grey;
	}

.img_about
	{ 
		width:500px;
		height: 380px;
		border: 6px solid white;
		margin-top: 40px;
		margin-left: 50px;
	}

.col_img
	{
		border: 0px solid black;
		width: 800px;
	}